
<div class="footer">
  <div class="footer-content">
    <div class="logo-container">
      <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/logo-white.png" alt="logo cuisthouse">
    </div>
    <ul>
      <li class="active"> Contact</li>
      <li>Contact Lorem ipsum, #239, blablamonadresse</li>
      <li>Nouléla. Fésakwivé</li>
      <li>Phone: +00 99999-88888</li>
      <li>E-mail: mail@cuisthouse.com</li>
    </ul>
    <ul>
      <li routerLink="/main" mat-button routerLinkActive="active">Home</li>
      <li routerLink="/recipes" mat-button routerLinkActive="active">Recipes</li>
      <li routerLink="/favorites" mat-button routerLinkActive="active">Favorites</li>
    </ul>
  </div>
  <hr>
</div>
