<div class="card" [style.background-image]="card.url">
  <div class="overlay">
    <div class="classification">
      <div class="category">
        {{card.category}}
      </div>
      <div class="difficulty">
        <img *ngFor="let difficulty of difficulties" src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/fork.png" alt="fork">
      </div>
    </div>
    <div class="label">
      {{card.label}}
    </div>
    <div class="x-centered small button hidden">
      <a>Voir la recette</a>
    </div>
  </div>
</div>
