<div class="card" [style.background-image]="card.url" (click)="goToDetails()">
  <div class="overlay">
    <div class="classification">
      <div class="category">
        {{card.category}}
      </div>
      <difficulty-rating [rating]="card.difficultyRating"></difficulty-rating>
    </div>
    <div class="label">
      {{card.label}}
    </div>
    <div class="x-centered actions">
      <div class="small button hidden">
        <a>See the recipe</a>
      </div>
      <div *ngIf="currentPath === '/recipes'" class="small blue button hidden">
        <a>Add to favorites</a>
      </div>
      <div *ngIf="currentPath === '/favorites'" class="small red button hidden">
        <a>Remove from favorites</a>
      </div>
    </div>
  </div>
</div>
