<div class="card" [style.background-image]="card.url" (click)="goToDetails()">
  <div class="overlay">
    <div class="classification">
      <div class="category">
        {{card.category}}
      </div>
      <div class="difficulty">
        <img *ngFor="let difficulty of difficulties" src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/fork.png" alt="fork">
      </div>
    </div>
    <div class="label">
      {{card.label}}
    </div>
    <div class="x-centered actions">
      <div class="small button hidden">
        <a>Voir la recette</a>
      </div>
      <div *ngIf="currentPath === '/recipes'" class="small blue button hidden">
        <a>Ajouter aux favoris</a>
      </div>
      <div *ngIf="currentPath === '/favorites'" class="small red button hidden">
        <a>Retirer des favoris</a>
      </div>
    </div>
  </div>
</div>
