<div class="main">
  <div class="cta-content">
    <h1 class="primary">
      <div class="header-content">
        Cuisiner<br/>Comme un chef, <span>à la maison</span>
      </div>
    </h1>
    <p>
      De délicieuses idées et recettes de cuisine classées par thèmes <br />
      ou par catégories, avec photos, faciles ou techniques, 100% testées
    </p>
    <br />
    <br />
    <div class="button">
      <a>nos recettes</a>
    </div>
  </div>
  <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/scroll-icon.png" alt="scroll down" class="scroll">
</div>

<div class="selection">
  <h1 class="x-centered bold accent">La séléction</h1>
  <div class="cards-list">
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </div>
  <div class="x-centered button">
    <a>Voir toutes les recettes</a>
  </div>
</div>

<div class="feature">
  <div class="image-container">
    <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/cover-main2.png" alt="">
  </div>
  <div class="feature-content">
    <p>Chaque semaine de nouvelles recettes que vous pouvez</p>
    <h1 class="bold accent">
      <div class="header-content">
        Ajouter à <span>vos favoris</span>
      </div>
    </h1>
    <p class="x-centered">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <br />
    <br />
    <div class="x-centered accent button">
      <a>Voir mes favoris</a>
    </div>
  </div>
</div>
