@import '../../styles.scss';

.feature {
  padding: 2em 10em 2em 10em;
  display: flex;
  flex-direction: row;
  background-color: $main-color;
  .image-container {
    width: 50%;
    margin-right: 2em;
    img {
      width: -webkit-fill-available;
    }
  }
  .feature-content {
    flex-grow: 1;
    flex-direction: column;
    @include center-y;
    p {
      opacity: 0.8;
      max-width: 80%;
    }
    h1 {
      margin: 0;
    }
  }
}
