<div class="image-cover">
  <div class="cta-content">
    <h1 class="primary">
      <div class="header-content">
        Cook <br/>like a chef, <span>at home</span>
      </div>
    </h1>
    <p>
      Delicious cooking ideas and recipes classified by theme<br />
      or by category, with photos, easy or technical, 100% tested
    </p>
    <br />
    <br />
    <div class="button">
      <div routerLink="/recipes">Our recipes</div>
    </div>
  </div>
  <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/scroll-icon.png" alt="scroll down" class="scroll">
</div>

<div class="cards-list-container">
  <h1 class="x-centered bold accent">La séléction</h1>
  <div class="cards-list">
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </div>
  <div class="x-centered button">
    <div routerLink="/recipes">See all our recipes</div>
  </div>
</div>

<div class="feature">
  <div class="image-container">
    <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/cover-main2.png" alt="">
  </div>
  <div class="feature-content">
    <p>Every week new recipes you could</p>
    <h1 class="bold accent">
      <div class="header-content">
        Add to <span>your favorites</span>
      </div>
    </h1>
    <p class="x-centered">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <br />
    <br />
    <div class="x-centered accent button">
      <div routerLink="/favorites">See my favorites</div>
    </div>
  </div>
</div>
