<div class="image-cover">
  <div class="cta-content">
    <h1 class="primary">
      <div class="header-content">
        recipes
      </div>
    </h1>
    <p>
      You like to cook simple but yet easy recipes, or maybe
      Do you like to cook simple and quick recipes, or on the contrary refined, worthy of the great chefs?
      <br />
      Light… or gourmet?
      <br />
      Classic or original?
      <br />
      Whatever your idea, you will inevitably find among our best recipes enough to create the ideal menu to delight your loved ones.
      <br />
      Bon appétit !
    </p>
  </div>
  <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/scroll-icon.png" alt="scroll down" class="scroll">
</div>

<div class="cards-list-container">
  <div class="fields">
    <input type="text" class="field" placeholder="search for a recipe">
    <div class="field dropdown">
      <div class="filter-content">
        Filter by categories
        <div class="chevron"></div>
      </div>
      <div class="dropdown-content">
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
        <div class="item">Hello World!</div>
      </div>
    </div>
  </div>
  <div class="cards-list">
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </div>
</div>
