$xl-text: normal normal normal 51px/72px DM Sans;
$xl-text-bold: normal normal bold 51px/72px DM Sans;
$l-text: normal normal normal 23px/60px DM Sans;
$m-text: normal normal normal 20px/35px DM Sans;
$s-text: normal normal normal 18px/29px DM Sans;
$xs-text: normal normal normal 16px/27px DM Sans;
$xxs-text: normal normal normal 12px/20px DM Sans;
