<div class="nav-menu">
  <div class="logo-container" routerLink="/main">
    <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/logo.png" alt="logo cuisthouse">
  </div>
  <div class="actions-container">
    <div class="nav-item" routerLink="/main" mat-button routerLinkActive="active">
      <a>Home</a>
    </div>
    <div class="nav-item" routerLink="/recipes" mat-button routerLinkActive="active">
      <a>Recipes</a>
    </div>
    <div class="nav-item" routerLink="/favorites" mat-button routerLinkActive="active">
      <a>Favorites</a>
    </div>
    <div class="translate">
      <div class="icon button">
        <a>FR</a>
        <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/fr-flag.png" alt="france flag" class="flag">
        <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/chevron-down.png" alt="down chevron" class="icon">
      </div>
    </div>
  </div>
</div>
