.breadcrumb {
  display: flex;
  border: 1px solid $body-color;
  width: 100%;
  background-color: $accent-color;
  color: $body-color;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  .item:not(.active) {
    opacity: 0.5;
    cursor: pointer;
  }
  .item {
    margin: 0 0.5em 0 0.5em;
  }
  .active {
    color: $main-color;
  }
}
