.image-cover {
  padding: 0 10em 0 10em;
  background: url('https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/cover-main.png') top right no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: 100vh;
  margin-top: -5em;
  .cta-content {
    @include center-y;
    max-width: 600px;
  }
  .scroll {
    width: 37px;
    height: 61px;
    padding-bottom: 5em;
    @include center-x;
  }
}
