<div class="image-cover">
  <div class="cta-content">
    <h1 class="primary">
      <div class="header-content">
        my favorites
      </div>
    </h1>
    <p>
      Delicious cooking ideas and recipes classified by theme or by category, with photos, easy or technical, 100% tested
    </p>
  </div>
  <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/scroll-icon.png" alt="scroll down" class="scroll">
</div>

<div class="cards-list-container no-bg">
  <div class="cards-list">
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </div>
</div>
