<div class="image-cover">
  <div class="cta-content">
    <h1 class="primary">
      <div class="header-content">
        mes favoris
      </div>
    </h1>
    <p>
      De délicieuses idées et recettes de cuisine classées par thèmes ou par catégories, avec photos, faciles ou techniques, 100% testées
    </p>
  </div>
  <img src="https://raw.githubusercontent.com/ColinBeal/test-cuisthouse/master/src/assets/img/scroll-icon.png" alt="scroll down" class="scroll">
</div>

<div class="cards-list-container no-bg">
  <div class="cards-list">
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </div>
</div>
